* {
    margin: 0;
}

/* Nav */
.nav-container {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 149px;
}

.nav-parent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    color: white
}

.hero-parent-img img {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: end;
}

.nav-parent-omOss, .nav-parent-aktuellt, .nav-parent-kontakt {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    cursor: pointer;
}


.nav-parent-omOss:hover, .nav-parent-aktuellt:hover, .nav-parent-kontakt:hover {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    cursor: pointer;
    color: #ff5900;
}


.btn-ansök {
    background-color: #FFFFFF;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 10px;
}

.btn-ansök:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #5858586c;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
    border-radius: 10px;
}

.btn-ansök:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.btn-ansök:after {
    background-color: #FFFFFF;
}

.btn-ansök span {
    z-index: 1;
    position: relative;
}

.divider-line {
    display: flex;
    height: 1px;
    width: 100%;
}

/* Hero*/
.hero-container {
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: #000000;
    text-align: center;
}

.hero-parent-rubrik-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    padding-top: 5%;
    color: aliceblue;
}

.hero-parent-underrubrik-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding-top: 5%;
    color: aliceblue;
}

.btn-parent2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

/* Hero2*/
.hero2-container {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-color: #000000;
    text-align: center;
    color: aliceblue;
}

.hero2-parent-säljande {
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-left: 8%;
    width: 100%;
    height: 80%;
    background-color: #000000;
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    justify-content: start;
}

img {
    width: 300px;
    height: 300px;
}

.hero2-information {
    list-style: none;
    justify-content: center;
    text-align: start;
    width: 20%;
}

.hero2-parent-underrubrik-text {
    padding-top: 5%;
}
/* Shape */
.shape-bg-container {
    position: relative;
    width: 100%;
    height: 17.8%;
    overflow: hidden;
    display: flex;
    margin-top: -150px;
    justify-content: center;
}

.shape-bg-parent {
    width: 100%;
    max-width: 1920px;
}

.shape-bg-parent img {
    width: 100%;
    height: 150px;
    position: relative;
}

/*Rekomendation*/